body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #6c757d;
    color: white;
    text-align: center;
    padding: 20px;
}

header a {
    text-decoration: none;
}
h1 {
    margin: 0;
}

@media screen and (min-width:800px) {
    main {
        margin: 0 220px 0 5%;
        padding: 20px;
    }

    nav {
        background-color: #6c757d;
        color: white;
        width: 200px;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        overflow-y: auto;
    }
    
    nav ul {
        list-style-type: none;
        padding: 0;
    }
    
    nav li {
        padding: 10px 0;
    }
    
    nav a {
        color: white;
        text-decoration: none;
        padding: 5px 15px;
        display: block;
    }
    
    nav a:hover {
        background-color: #4e7dab;
    }
    .mostrarMenu p{
        display: none;
    }
}
@media screen and (max-width:800px) {
    main{
        margin: 5% 10% 5% 1%;
        padding: 10px;
    }

    .franja-vertical {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 50px;
        background-color: #6c757d;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 2;
    }

    .franja-vertical p {
        color: white;
        margin: 0;
        font-size: 24px;
    }

    nav {
        background-color: #6c757d;
        color: white;
        width: 0;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        overflow-y: auto;
        transition: width 0.3s ease-in-out;
        z-index: 1;
    }

    .franja-vertical.activo + nav {
        width: 200px;
    }

    nav ul {
        list-style-type: none;
        padding: 0;
    }
    
    nav li {
        padding: 10px 0;
    }
    
    nav a {
        color: white;
        text-decoration: none;
        padding: 5px 15px;
        display: block;
    }

}

section {
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}

h2 {
    font-size: 24px;
    margin-top: 0;
}

article {
    margin-bottom: 20px;
}

h3 {
    font-size: 18px;
    margin: 0;
}

p {
    font-size: 16px;
    line-height: 1.5;
}
@media screen and (min-width:1000px) {
    #fotoJo{
        width: 25%;
        border-radius: 50%;
        border: 2px solid black;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width:1000px) and (min-width:500px) {
    #fotoJo{
        width: 50%;
        border-radius: 50%;
        border: 2px solid black;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width:500px) {
    #fotoJo{
        width: 75%;
        border-radius: 50%;
        border: 2px solid black;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.title {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    text-align: center;
    padding: 20px 0;
}

.link[rel="icon"] {
    width: 32px;
    height: 32px;
}

@media screen and (min-width:1000px) {
    .grupColumnes{
        display: flex;
        flex-direction: row ;
    }
    .grupColumnes img{
        width: 95%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
        border-radius: 20px;
        border: 1px solid #000000;
    }
    .grupColumnes h3{
        text-align: center;
    }
    .columna{
        margin: 5px;
    }
}

@media screen and (max-width: 1000px) {
    .grupColumnes{
        display: flex;
        flex-direction: column ;
    }
    .grupColumnes img{
        width: 95%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
        border-radius: 20px;
        border: 1px solid #000000;
    }
    .grupColumnes h3{
        text-align: center;
    }
    .columna{
        margin: 5px;
    }
}


main a {
    padding: 10px 10px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    display: block;
    color: #000000;
    text-align: center;
    text-decoration: none;
    background-color: #a7b9c8;
    border-radius: 10px;
}

main a:hover {
    background-color: #466177;
    color: #fff;
}

footer{
    background-color: #6c757d;
    padding: 10px;
}

#linkedin{
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 8px;
}
